.search-form{
    position:absolute;
    top:115%;right:2rem;
    width:50rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 5.5rem;
    box-shadow: 0.5rem 1 rem rgba(0,0,0,.1);
    background:#fff;
     

}
.search-box.active{
    top:115%;

}